<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple gRPC meter reader</title>
</head>
<body>
<form action="/get_meter_data/" method="get">
    <div>
        <div style="float: left;margin-right: 20px">

        <label for="start_time">From:</label>
          <input type="datetime-local" id="start_time" name="start_time">

        </div>
        <div style="margin-right: 20px">

        <label for="end_time">To:</label>
          <input type="datetime-local" id="end_time" name="end_time">

        </div>
        <div style="float: right;margin-right: 30%">
            <input type="submit">
        </div>
    </div>
</form>
</body>
</html>